<!DOCTYPE html>
<!--
	made w/ <3 by Yhvr
	web: https://yhvr.me
	email: hello@yhvr.me
-->
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CLEANSED 2-3.1</title>

		<meta
			name="description"
			content="CLEANSED is an incremental game about cleansing the world of darkness."
		/>

		<script src="https://unpkg.com/vue"></script>
		
		<script src="js/mobile.js" defer></script>
		<script src="js/mergeMaps.js" defer></script>
		<script src="js/luck.js" defer></script>
		<script src="js/automation.js" defer></script>
		<script src="js/upgrades.js" defer></script>
		<script src="js/maps.js" defer></script>
		<script src="js/calculateAlpha.js" defer></script>
		<script src="js/keyevents.js" defer></script>
		<script src="js/tileMovementValidity.js" defer></script>
		<script src="js/blockAction.js" defer></script>
		<script src="js/index.js" defer></script>
		<script src="js/lightCanvas.js" defer></script>
		<script src="js/render.js" defer></script>
		<script src="js/door.js" defer></script>
		<script src="js/saving.js" defer></script>

		<link rel="stylesheet" href="font/font.css" />

		<style>
			canvas,
			#app > p,
			#shop,
			#options,
			#automation,
			#luck {
				border: solid thin white;
				background: black;
			}

			#keypad {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 232px;
				height: 150px;
				background-color: black;
				border: solid thin white;
				border-spacing: 0;
				border-collapse: collapse;
			}
			
			#keypad button {
				padding: 0;
				width: 75px;
				height: 75px;
				font-size: 30px;
			}

			canvas {
				margin-left: auto;
				margin-right: auto;
				display: block;
			}

			#lcanv {
				position: absolute;
				left: 8px;
				top: 126px;
				background: none;
			}

			p {
				height: 100px;
				max-height: 100px;
				margin-top: 0;
			}

			html {
				background: black;
				color: white;
				font-family: "JetBrains Mono";
				overflow: hidden;
			}

			#shop,
			#options,
			#automation,
			#luck {
				position: absolute;
				margin: auto;
				left: 0;
				right: 0;
				width: 500px;
				background: black;
				padding: 20px;
				max-height: 400px;
				overflow: auto;
				z-index: 999;
			}

			.fuckgoback {
				position: absolute;
				top: 0;
				right: 0;
			}

			button {
				background: black;
				color: white;
				border: thin solid white;
				font-family: inherit;
				max-width: 200px;
				display: inline-block;
			}

			.bought {
				background: white;
				color: black;
				font-family: inherit;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<p v-if="!isEnd">
				You have
				<strong>{{ game.shards.toLocaleString() }}</strong> glass
				shards<br />
				<!-- Last Collision: {{ lastCollision }}<br /> -->
				<span v-html="data.name"></span><br />
				<span v-html="data.desc"></span>
			</p>

			<table id="keypad" v-if="isMobile">
				<tr>
					<td><button @click="simulateKeypress('mobile_shift')" v-if="game.upgs[12]">↑</button></td>
					<td><button @click="simulateKeypress('w')">{{ mobileShift ? "W" : "w" }}</button></td>
					<td><button @click="simulateKeypress('e')" v-if="game.upgs[32]">{{ mobileShift ? "E" : "e" }}</button></td>
				</tr>
				<tr>
					<td><button @click="simulateKeypress('a')">{{ mobileShift ? "A" : "a" }}</button></td>
					<td><button @click="simulateKeypress('s')">{{ mobileShift ? "S" : "s" }}</button></td>
					<td><button @click="simulateKeypress('d')">{{ mobileShift ? "D" : "d" }}</button></td>
				</tr>
			</table>

			<div id="shop" v-if="shopOpen">
				<button class="fuckgoback" @click="shopOpen = false;">x</button>
				<h3># shop</h3>
				<table>
					<tr v-for="row in UPGRADES.rows">
						<td v-for="col in UPGRADES.cols">
							<button
								:class="{ bought: game.upgs[row + '' + col] }"
								@click="buyUpgrade( row + '' + col)"
								v-if="UPGRADES[row + '' + col].shown()"
							>
								<strong
									>{{ UPGRADES[row + "" + col].title
									}}</strong
								><br />
								{{ UPGRADES[row + "" + col].desc }}<br />
								Cost: {{ UPGRADES[row + "" +
								col].cost.toLocaleString() }} glass shards
							</button>
						</td>
					</tr>
				</table>
			</div>

			<div id="options" v-if="optionsOpen">
				<button class="fuckgoback" @click="optionsOpen = false;">
					x
				</button>
				<h3># options</h3>
				<form>
					<span>You can no longer control brightness in the settings; it is now controlled by your current glass shards.</span>
					<br />
					<input
						id="hardreset"
						value="Hard Reset"
						type="button"
						@click="hardReset()"
					/>
				</form>
			</div>

			<div id="automation" v-if="autoOpen">
				<button class="fuckgoback" @click="autoOpen = false;">x</button>
				<h3># automation</h3>
				<button
					@click="buyAuto()"
					v-if="game.autoSpeed > 50 || game.autoSpeed === 0"
				>
					<strong>Automation</strong><br />
					Make the "sweep" faster.<br />
					Cost: {{ game.autoCost.toLocaleString() }} glass shards
				</button>
				<button
					v-else-if="game.autoSpeed !== -1"
					@click="buySuperAuto()"
				>
					<strong>Automation^2</strong><br />
					Pick up shards the instant they appear. Cost: 2,500,000,000
					glass shards
				</button>
				<span v-else>sold out :(</span>
			</div>

			<div id="luck" v-if="luckOpen">
				<button class="fuckgoback" @click="luckOpen = false;">x</button>
				<h3># luck-increaser-thingy</h3>
				<span>
					Your base shard chance is currently {{ (1 -
					getShardChance(0)).toFixed(2) }}% <br />
					Your base shard gain is currently {{
					getShardGain(0).toLocaleString() }} <br />
					You have {{ game.luckTokens.toLocaleString() }} luck tokens
				</span>

				<br />
				<br />

				<button @click="luckify()">
					{{ game.luckCost.toLocaleString() }} glass shards -> 1 luck
					token
				</button>
			</div>
		</div>
		<canvas id="lcanv" width="264" height="331"></canvas>
		<canvas id="canv" width="264" height="331"></canvas>
	</body>
</html>
