@font-face {
	font-family: "JetBrains Mono";
	src: url("regular.woff2");
	src: local("JetBrains Mono"), url("regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/* @font-face {
	font-family: "JetBrains Mono Bold";
	src: url("regular.woff2");
	src: url("bold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
} */
